nav {
    width: 100%;
    font-size: 3rem;
    color: teal;
    margin-bottom: 50px;
    background-color: rgb(56, 56, 56);
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
  }
  
  a {
    color:whitesmoke;
  }
  
  a:hover {
    color:teal;
    text-decoration: none;
  }

  ul {
    /* padding-left: 0px; */
    display: flex;
    align-items: left;
  }

  nav li {
    display: block;
    padding: 26px 0;
    width: 25%;
    text-align: center;
  }
  
  
  
  
  
  
  @media only screen and (max-width: 750px) {
    #cscor, #tscor {
      font-size: 2rem;
    }
  }